.player-info {
    padding: 5px;
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: antiquewhite;
}

.img-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}